* {
    margin: 0;
    padding: 0;
}

body {
	background: linear-gradient(-45deg, #ff000d, #b01a22, #0800ff, #00d9ff, #b700ff, #ff00dd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    display: grid;
    place-items: center;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 23px;
	white-space: pre-wrap;

	h3 {
        padding-top: 25px;
        
    }

    p {
        padding-top: 25px;
    }
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
	body {
		padding-left: 25px;
		padding-right: 25px;
		font-size: 16px;
	}
}